<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>CRUD App | BitBrothers</title>
     <link rel="stylesheet" href="style.css">

     <style>
          h1 {
               font-size: 60px;
          }

          ul {
               font-size: 30px;
               padding: 20px;
          }
          ul li {
               list-style-type: none;
               cursor: pointer;
               text-align: center;
          }

          ul a {
               font-size: 20px;
               text-decoration: none;
               color: black;

          }
     </style>
</head>
<body class="top">
     <h1>Bit Brothers Assessment</h1>
     <div class="container">

          <ul>
               <li class="a shadow"><a href="createUser">Create User</a></li>
               <li class="a shadow"><a href="readUser">View Users</a></li>
          </ul>
     </div>
          
          <footer>
               <p>By: Arun Kumar Sehrawat</p>
          </footer>
</body>
</html>